<div ng-controller="AnnouncementsController">

	<offer-modal offer="offer" save-offer="addOffer()"></offer-modal>

	<md-content>
    	<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Venda">
        		<md-content style="overflow: inherit">
        			<div class="row">
						<md-input-container class="col-md-3">
				    		<label>Buscar jogo</label>
				    		<input ng-model="searchGame">
				    	</md-input-container>
				    	<md-input-container class="col-md-2">
				    		<label>Pre&ccedil;o m&iacute;nimo</label>
				    		<input type="number" min="0" ng-model="searchMinPrice">
				    	</md-input-container>
				    	<md-input-container class="col-md-2">
				    		<label>Pre&ccedil;o m&aacute;ximo</label>
				    		<input type="number" min="0" ng-model="searchMaxPrice">
				    	</md-input-container>
			    	</div>
          			<md-list>
				      	<md-list-item ng-repeat="sellAnnouncement in sellAnnouncements | filter:forSell | filter:filterGame | filter:filterMinPrice | filter:filterMaxPrice">
				        	<img class="md-avatar" ng-src="data:image/JPEG;base64,{{ sellAnnouncement.owner.avatar }}" />
				        	<div class="md-list-item-text col-md-10">
				          		<h3>
				          			{{ sellAnnouncement.game.name }} ({{ sellAnnouncement.game.platform }})
									<md-menu>
							      		<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
							        		<md-icon class="fa fa-cog"></md-icon>
							      		</md-button>
							      		<md-menu-content width="4">
							        		<md-menu-item>
							        			<md-button ng-click="setType('sell', sellAnnouncement)"
								          				   aria-label="Ofertar"
								          				   data-toggle="modal"
								          				   data-target="#offerModal">
													<md-icon class="fa fa-comment"></md-icon>
													Enviar oferta
												</md-button>
							        		</md-menu-item>
							        	</md-menu-content>
							        </md-menu>
				          		</h3>
				          		<h4>{{ sellAnnouncement.price | currency:'R$'}}</h4>
				          		<p>{{ sellAnnouncement.description }}&nbsp;</p>
				        	</div>
			        		<img width="8%" ng-src="data:image/JPEG;base64,{{ sellAnnouncement.game.cover }}" />
				      	</md-list-item>
					</md-list>
       	 		</md-content>
      		</md-tab>
      		<md-tab label="Compra">
        		<md-content style="overflow: inherit">
        			<div class="row">
						<md-input-container class="col-md-3">
				    		<label>Buscar jogo</label>
				    		<input ng-model="searchGame">
				    	</md-input-container>
				    	<md-input-container class="col-md-2">
				    		<label>Pre&ccedil;o m&iacute;nimo</label>
				    		<input type="number" min="0" ng-model="searchMinPrice">
				    	</md-input-container>
				    	<md-input-container class="col-md-2">
				    		<label>Pre&ccedil;o m&aacute;ximo</label>
				    		<input type="number" min="0" ng-model="searchMaxPrice">
				    	</md-input-container>
			    	</div>
          			<md-list>
				      	<md-list-item ng-repeat="buyAnnouncement in buyAnnouncements | filter:forBuy | filter:filterGame | filter:filterMinPrice | filter:filterMaxPrice">
				        	<img class="md-avatar" ng-src="data:image/JPEG;base64,{{ buyAnnouncement.owner.avatar }}" />
				        	<div class="md-list-item-text col-md-10">
				          		<h3>
				          			{{ buyAnnouncement.game.name }} ({{ buyAnnouncement.game.platform }})
				          			<md-button ng-click="setType('buy', buyAnnouncement)"
				          					   data-toggle="modal"
				          					   data-target="#offerModal"
				          					   aria-label="Ofertar"
				          					   class="md-icon-button md-primary"
				          					   style="height: 36px;">
										<md-icon class="fa fa-comment"></md-icon>
									</md-button>
				          		</h3>
				          		<h4>{{ buyAnnouncement.price | currency:'R$'}}</h4>
				          		<p>{{ buyAnnouncement.description }}&nbsp;</p>
				        	</div>
			        		<img width="8%" ng-src="data:image/JPEG;base64,{{ buyAnnouncement.game.cover }}"/>
				      	</md-list-item>
					</md-list>
		        </md-content>
      		</md-tab>
      		<md-tab label="Troca">
        		<md-content style="overflow: inherit">
        			<div class="row">
						<md-input-container class="col-md-3">
				    		<label>Buscar jogo</label>
				    		<input ng-model="searchGame">
				    	</md-input-container>
			    	</div>
					<md-list>
				      	<md-list-item ng-repeat="tradeAnnouncement in tradeAnnouncements | filter:forTrade | filter:filterGame">
				        	<img class="md-avatar" ng-src="data:image/JPEG;base64,{{ tradeAnnouncement.owner.avatar }}" />
				        	<div class="md-list-item-text col-md-10">
				          		<h3>
				          			{{ tradeAnnouncement.game.name }} ({{ tradeAnnouncement.game.platform }})
				          			<md-button ng-click="setType('trade', tradeAnnouncement)"
				          					   data-toggle="modal"
				          					   data-target="#offerModal"
				          					   class="md-icon-button md-primary"
				          					   aria-label="Ofertar"
				          					   style="height: 36px;">
										<md-icon class="fa fa-comment"></md-icon>
									</md-button>
				          		</h3>
				          		<h4>
				          			Prefer&ecirc;ncias:
				          			<span  ng-repeat="wishList in tradeAnnouncement.wishList">
			          					<img width="4%" ng-src="data:image/JPEG;base64,{{ wishList.cover }}">
			          					<md-tooltip>
								          {{ wishList.name }}
								        </md-tooltip>
				          			</span>
				          		</h4>
				          		<p>{{ tradeAnnouncement.description }}&nbsp;</p>
				        	</div>
				        	<img width="8%" ng-src="data:image/JPEG;base64,{{ tradeAnnouncement.game.cover }}" />
				      	</md-list-item>
					</md-list>
		        </md-content>
		    </md-tab>
    	</md-tabs>
  	</md-content>
</div>