.sold-price {
	text-decoration: line-through;
}

.sold-title {
	color: #337ab7;
	font-size: 13px;
	vertical-align: middle;
	text-decoration: underline;
}

.item-options {
	height: 36px;
	width: auto;
	margin: 0;
}

.inactive-link a {
	pointer-events: none;
}

.inactive-link {
	cursor: not-allowed;
}