<div ng-controller="AnnouncementsController">
	<md-content class="">
    	<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Venda">
        		<md-content class="md-padding">
          			<md-list>
<!-- 				    	<md-subheader class="md-no-sticky"> -->
				    		<!-- display quantity of itens and create menu with sorting and filtering -->
<!-- 				    	</md-subheader> -->
				      	<md-list-item ng-repeat="sellAnnouncement in sellAnnouncements">
				        	<img class="md-avatar" />
				        	<div class="md-list-item-text">
				          		<h3>{{ sellAnnouncement.game.name }}</h3>
				          		<h4>{{ sellAnnouncement.price | currency:'R$'}}</h4>
				          		<p>{{ sellAnnouncement.description }}</p>
				        	</div>
				        	<md-divider></md-divider>
				      	</md-list-item>
					</md-list>
       	 		</md-content>
      		</md-tab>
      		<md-tab label="Compra">
        		<md-content class="md-padding">
          			<h1 class="md-display-2">Compra</h1>
          			<p></p>
		        </md-content>
      		</md-tab>
      		<md-tab label="Troca">
        		<md-content class="md-padding">
          			<h1 class="md-display-2">Troca</h1>
        	  		<p></p>
		        </md-content>
		    </md-tab>
    	</md-tabs>
  	</md-content>
</div>