<div ng-controller="AnnouncementsController">

	<div id="offerModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Enviar Oferta</h4>
				</div>
				
				<div class="modal-body">
					<form novalidate>
						<md-input-container>
					        <label>Mensagem</label>
					        <textarea ng-model="offer.description"
					        		  rows="5"
					        		  columns="1"
					        		  md-maxlength="500">
					        </textarea>
					    </md-input-container>
					</form>
				</div>
				
				<div class="modal-footer">
					<md-button ng-click="addOffer()" class="md-primary md-raised" data-dismiss="modal">Enviar</md-button>
				</div>
				
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div> <!-- /.modal -->

	<md-content>
    	<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Venda">
        		<md-content>
          			<md-list>
<!-- 				    	<md-subheader class="md-no-sticky"> -->
				    		<!-- display quantity of itens and create menu with sorting and filtering -->
<!-- 				    	</md-subheader> -->
				      	<md-list-item ng-repeat="sellAnnouncement in sellAnnouncements | filter:forSell">
				        	<img class="md-avatar" ng-src="data:image/JPEG;base64,{{ sellAnnouncement.owner.avatar }}" />
				        	<div class="md-list-item-text col-md-10">
				          		<h3>
				          			{{ sellAnnouncement.game.name }} ({{ sellAnnouncement.game.platform }})
					          		<md-button ng-click="setType('sell', sellAnnouncement)" aria-label="Ofertar" data-toggle="modal" data-target="#offerModal" class="md-icon-button md-primary" ng-alt="Ofertar" style="height: 36px;">
										<md-icon class="fa fa-comment"></md-icon>
									</md-button>
				          		</h3>
				          		<h4>{{ sellAnnouncement.price | currency:'R$'}}</h4>
				          		<p>{{ sellAnnouncement.description }}&nbsp;</p>
				        	</div>
			        		<img width="8%" ng-src="data:image/JPEG;base64,{{ sellAnnouncement.game.cover }}" />
				      	</md-list-item>
					</md-list>
       	 		</md-content>
      		</md-tab>
      		<md-tab label="Compra">
        		<md-content>
          			<md-list>
<!-- 				    	<md-subheader class="md-no-sticky"> -->
				    		<!-- display quantity of itens and create menu with sorting and filtering -->
<!-- 				    	</md-subheader> -->
				      	<md-list-item ng-repeat="buyAnnouncement in buyAnnouncements | filter:forBuy">
				        	<img class="md-avatar" ng-src="data:image/JPEG;base64,{{ buyAnnouncement.owner.avatar }}" />
				        	<div class="md-list-item-text col-md-10">
				          		<h3>
				          			{{ buyAnnouncement.game.name }} ({{ buyAnnouncement.game.platform }})
				          			<md-button ng-click="setType('buy', buyAnnouncement)" data-toggle="modal" data-target="#offerModal" class="md-icon-button md-primary" ng-alt="Ofertar" style="height: 36px;">
										<md-icon class="fa fa-comment"></md-icon>
									</md-button>
				          		</h3>
				          		<h4>{{ buyAnnouncement.price | currency:'R$'}}</h4>
				          		<p>{{ buyAnnouncement.description }}&nbsp;</p>
				        	</div>
			        		<img width="8%" ng-src="data:image/JPEG;base64,{{ buyAnnouncement.game.cover }}"/>
				      	</md-list-item>
					</md-list>
		        </md-content>
      		</md-tab>
      		<md-tab label="Troca">
        		<md-content>
          			<!-- 				    	<md-subheader class="md-no-sticky"> -->
				    		<!-- display quantity of itens and create menu with sorting and filtering -->
<!-- 				    	</md-subheader> -->
				      	<md-list-item ng-repeat="tradeAnnouncement in tradeAnnouncements">
				        	<img class="md-avatar" ng-src="data:image/JPEG;base64,{{ tradeAnnouncement.owner.avatar }}" />
				        	<div class="md-list-item-text col-md-10">
				          		<h3>
				          			{{ tradeAnnouncement.game.name }} ({{ tradeAnnouncement.game.platform }})
				          			<md-button ng-click="setType('trade', tradeAnnouncement)" data-toggle="modal" data-target="#offerModal" class="md-icon-button md-primary" ng-alt="Ofertar" style="height: 36px;">
										<md-icon class="fa fa-comment"></md-icon>
									</md-button>
				          		</h3>
				          		<h4>
				          			Prefer&ecirc;ncias:
				          			<span  ng-repeat="wishList in tradeAnnouncement.wishList">
			          					<img width="4%" ng-src="data:image/JPEG;base64,{{ wishList.cover }}">
			          					<md-tooltip>
								          {{ wishList.name }}
								        </md-tooltip>
				          			</span>
				          		</h4>
				          		<p>{{ tradeAnnouncement.description }}&nbsp;</p>
				        	</div>
				        	<img width="8%" ng-src="data:image/JPEG;base64,{{ tradeAnnouncement.game.cover }}" />
				      	</md-list-item>
		        </md-content>
		    </md-tab>
    	</md-tabs>
  	</md-content>
</div>